# Analise exploratoria

In [1]:
import pandas as pd

notas = pd.read_csv("./Arquivos/ratings.csv")
filmes = pd.read_csv("./Arquivos/movies.csv")

In [2]:
filmes.columns = ["FilmeId", "Nome", "Genero"]
notas.columns = ["UsuarioId" , "FilmeId", "Nota", "Momento"]

# Dataset Notas

## Filtrando pelo id e genero

In [10]:
#notas.query("UsuarioId==45")               # Buscar notas do usuario id 45
#notas.query("UsuarioId==45").FilmeId        # Buscar so a coluna filmeID do usuario de id 45
#notas.query("Nota>4.5")                      # Listar apenas as notas acima de 4.5

## Agrupar pela coluna FilmeID

##### Assim podemos agrupar o dataset por filme e depois tirar a sua nota media
#### Eu agrupando por FilmeID, ele passa a ser o indice do dataset

In [4]:
notas.groupby("FilmeId").mean()                            # Pegar a media de tudo
media_por_filme = notas.groupby("FilmeId").mean().Nota     # Pegar so a coluna nota

#### Se quisermos resetar o indice para numeros

In [9]:
media_por_filme.reset_index()

      FilmeId      Nota
0           1  3.920930
1           2  3.431818
2           3  3.259615
3           4  2.357143
4           5  3.071429
...       ...       ...
9719   193581  4.000000
9720   193583  3.500000
9721   193585  3.500000
9722   193587  3.500000
9723   193609  4.000000

[9724 rows x 2 columns]