# Medidas de tendencia Central

In [3]:
import pandas as pd
import numpy as np

In [8]:
dados = pd.read_excel("./Arquivos/dados.xlsx")
dados.head(3)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda      Altura
0  11     0     23    8              12    800  1603807616
1  11     1     23    2              12   1150  1739789827
2  11     1     35    8              15    880  1760443822

## Media

In [14]:
# Calculando a meida da variavel renda
dados['Renda'].mean()

2000.3831988547631

#### Agrupando por sexo e obtendo a media

In [15]:
dados.groupby(['Sexo'])['Renda'].mean()

Sexo
0    2192.441596
1    1566.847393
Name: Renda, dtype: float64

## Mediana


***
É o valor que separa a metade maior e a metade menor de uma amostra,
Ex. {1, 2, 2, 3, 20}, mediana = 2


Para obtermos a mediana de uma conjunto de dados devemos proceder da seguinte maneira:
1. Ordenar o conjunto de dados;
2. Identificar o número de itens do conjunto de dados ($n$);
3. Identicar o elemento mediano:

> Quando $n$ for ímpar:


# $$Elemento_{Md} = \frac{n+1}2$$

> Quando $n$ for par:


# $$Elemento_{Md} = \frac{n}2$$

4. Obter a mediana:

> Quando $n$ for ímpar:


# $$Md = X_{Elemento_{Md}}$$

> Quando $n$ for par:


# $$Md = \frac{X_{Elemento_{Md}} + X_{Elemento_{Md}+1}}2$$
***