In [1]:
import pandas as pd

In [18]:
dados = pd.read_csv('Arquivos/aluguel.csv', sep=";")

In [19]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Utilizando Unique

### Ele apenas visualiza os tipos, não altera nada

In [24]:
dados["Tipo"].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

## Utilizando drop_duplicates

#### Ele excluir todas as duplicações, deixando um tipo de cada

#### Oferece a opção inplace(modifcar o arquivo) e qual ocorrencia quer manter (primeira, ultima, etc)

In [33]:
tipos_imoveis = dados["Tipo"]
tipos_imoveis.drop_duplicates()   # Assim ele apenas visualiza, sem alterar o dataset

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

### Assim ele ele mantem a primeira ocorrencia e exclui o resto

In [ ]:
tipos_imoveis.drop_duplicates(keep = 'first', inplace = True) 
tipos_imoveis

 ## Redefinindo Index

### Criando um dataFrame a partir do tipos_imoveis

In [70]:
tipos_imoveis = pd.DataFrame(tipos_imoveis)

### Como visualizar todos os index do dataset

In [53]:
tipos_imoveis.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

### Verificando o tamanho de linhas para redefinir o index

In [57]:
tipos_imoveis.shape[0]

22

### Queremos colocar essa informação, de 0 a 21, como index do dataset

In [59]:
for i in range(tipos_imoveis.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

### Apontamos o index do dataSet como o range do numero de linhas do dataSet

In [68]:
tipos_imoveis.index = range(tipos_imoveis.shape[0])

#### Renomeando a coluna do indice

In [73]:
tipos_imoveis.columns.name = "Id"

### Verificando

In [65]:
tipos_imoveis.index

RangeIndex(start=0, stop=22, step=1)

In [72]:
tipos_imoveis.head(5)

Id                     Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
4        Casa de Condomínio

In [ ]:
-