# Remoção de features com baixa variância

- O **`VarianceThreshold`** vai **remover todos os recursos em que a variância não chegue até um certo limite**
    - Por padrão, remove tudo que a variância for igual a zero, mas podemos alterar o limite com o parametro threshold

In [1]:
import pandas as pd

X = pd.DataFrame([[0, 2, 0, 3], [0, 1, 4, 3], [0, 1, 1, 3]])

X

   0  1  2  3
0  0  2  0  3
1  0  1  4  3
2  0  1  1  3

### Informações estatísticas

In [2]:
X.describe()

         0         1         2    3
count  3.0  3.000000  3.000000  3.0
mean   0.0  1.333333  1.666667  3.0
std    0.0  0.577350  2.081666  0.0
min    0.0  1.000000  0.000000  3.0
25%    0.0  1.000000  0.500000  3.0
50%    0.0  1.000000  1.000000  3.0
75%    0.0  1.500000  2.500000  3.0
max    0.0  2.000000  4.000000  3.0

### Utilizando VarianceThreshold

In [3]:
from sklearn.feature_selection import VarianceThreshold

### Instanciando e fazendo o fit

In [5]:
selector = VarianceThreshold()
selector = selector.fit(X)

### Transformação e visualizando exclusoes

In [6]:
selector.transform(X)

array([[2, 0],
       [1, 4],
       [1, 1]], dtype=int64)