# Padronização e normalização

### StandardScaler
- Os novos dados tenham média 0 e desvio padrão 1
- Trata os outliers melhor, Facilita a convergencia dos modelos
</br></br>

### MinMaxScaler
- Normaliza os dados entre um valor mínimo e máximo.
- O padrão é entre 0 e 1, mas podemos alterar com  o parametro 'feature_range=(0, 1)'
</br></br>
### MaxAbsScaler
-  dividindo todos os dados pelo máximo absoluto daquela coluna
- Funciona muito bem para trabalhar com dados esparsos (dispersos / espalhados)

### RobustScaler
- Ideal quando os dados tem muitos outliers
- Vai usar o interquartil como base do redimensionamento (Q3 - Q1)

In [1]:
import pandas as pd

In [2]:
# Importando e visualizando a base
titanic = pd.read_csv('train2.csv')
titanic.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Titulos
0         0       3    male  22.0      1      0   7.2500        S      Mr
1         1       1  female  38.0      1      0  71.2833        C     Mrs

### Informações estatísticas dessa base

#### Pclass e o Age estão em escalas muito diferentes, podendo prejudicar o modelo

In [3]:
titanic.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.430535    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.551396    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.724891    0.000000    0.000000   14.454200
75%      1.000000    3.000000   36.750000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# Utilizando StandardScaler

In [4]:
from sklearn.preprocessing import StandardScaler

### Instanciando e fazendo fit

In [5]:
scaler = StandardScaler()
scaler = scaler.fit(titanic[['Age']])

### Transformando os dados e adicionando ao dataFrame

In [6]:
titanic['Age_Scaler'] = scaler.transform(titanic[['Age']])

### Comparando estatisticamente as colunas
- Notamos a diferença entre elas: Media, Desvio padrão...

In [7]:
titanic[['Age','Age_Scaler']].describe()

              Age    Age_Scaler
count  891.000000  8.910000e+02
mean    29.430535 -1.594933e-16
std     13.551396  1.000562e+00
min      0.420000 -2.141981e+00
25%     21.000000 -6.224650e-01
50%     28.724891 -5.210091e-02
75%     36.750000  5.404297e-01
max     80.000000  3.733775e+00

# Utilizando MinMaxScaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

### Instanciando e fazendo fit

In [9]:
scaler = MinMaxScaler(feature_range=(0,2))
scaler = scaler.fit(titanic[['Age']])

### Fazendo a transformação e adicionando ao dataFrame

In [10]:
titanic['Age_minmax'] = scaler.transform(titanic[['Age']])

### Visualizando os dados e comarando com a função anterior e valor inicial

In [11]:
titanic[['Age','Age_Scaler','Age_minmax']].describe()

              Age    Age_Scaler  Age_minmax
count  891.000000  8.910000e+02  891.000000
mean    29.430535 -1.594933e-16    0.729091
std     13.551396  1.000562e+00    0.340573
min      0.420000 -2.141981e+00    0.000000
25%     21.000000 -6.224650e-01    0.517215
50%     28.724891 -5.210091e-02    0.711357
75%     36.750000  5.404297e-01    0.913043
max     80.000000  3.733775e+00    2.000000

# MaxAbsScaler

In [12]:
from sklearn.preprocessing import MaxAbsScaler

### Instanciando e fazendo fit

In [13]:
scaler = MaxAbsScaler()
scaler = scaler.fit(titanic[['Age']])

### Transformando e adicionando no dataFrame

In [14]:
titanic['Age_maxabs'] = scaler.transform(titanic[['Age']])

### Visualizando os dados e comarando com a função anterior e valor inicial

In [15]:
titanic[['Age','Age_Scaler','Age_minmax']].describe()

              Age    Age_Scaler  Age_minmax
count  891.000000  8.910000e+02  891.000000
mean    29.430535 -1.594933e-16    0.729091
std     13.551396  1.000562e+00    0.340573
min      0.420000 -2.141981e+00    0.000000
25%     21.000000 -6.224650e-01    0.517215
50%     28.724891 -5.210091e-02    0.711357
75%     36.750000  5.404297e-01    0.913043
max     80.000000  3.733775e+00    2.000000

# RobustScaler

In [16]:
from sklearn.preprocessing import RobustScaler

### Instanciando e fazendo fit

In [17]:
scaler = RobustScaler()
scaler = scaler.fit(titanic[['Age']])

### Transformando e adicionando ao dataFrame

In [18]:
titanic['Age_robust'] = scaler.transform(titanic[['Age']])

### Visualizando os dados e comarando com a função anterior e valor inicial

In [19]:
titanic[['Age','Age_Scaler','Age_minmax', "Age_robust"]].describe()

              Age    Age_Scaler  Age_minmax  Age_robust
count  891.000000  8.910000e+02  891.000000  891.000000
mean    29.430535 -1.594933e-16    0.729091    0.044803
std     13.551396  1.000562e+00    0.340573    0.860406
min      0.420000 -2.141981e+00    0.000000   -1.797136
25%     21.000000 -6.224650e-01    0.517215   -0.490469
50%     28.724891 -5.210091e-02    0.711357    0.000000
75%     36.750000  5.404297e-01    0.913043    0.509531
max     80.000000  3.733775e+00    2.000000    3.255562