# Leitura e visualização de dados

In [8]:
import pandas as pd

notas = pd.read_csv("./Arquivos/ratings.csv")

notas.head(3)        # Imprimir 3 primeiras linhas

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

### Formato do dataset   (AxB)

In [2]:
notas.shape

(100836, 4)

### Media, mediana e resumo matematico da coluna

In [3]:
print("Media",notas.rating.mean())
print("Mediana",notas.rating.median())

notas["rating"].describe()

Media 3.501556983616962
Mediana 3.5

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

### Renomeando colunas

In [4]:
notas.columns = ["UsuarioId" , "FilmeId", "Nota", "Momento" ]

### Explorando Colunas

In [39]:
notas["Nota"]                    # Ver apenas aquela coluna
notas['Nota'].unique()           # Quais as notas existem (sem repetição)
notas['Nota'].value_counts()     # Quantas vezes cada valor aparece
notas['Nota'].mean()             # Media das notas ( da coluna)