# Medidas de tendencia Central

In [2]:
import pandas as pd
import numpy as np

In [30]:
dados = pd.read_excel("./Arquivos/dados.xlsx")
dados.head(3)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda      Altura
0  11     0     23    8              12    800  1603807616
1  11     1     23    2              12   1150  1739789827
2  11     1     35    8              15    880  1760443822

## Media

In [14]:
# Calculando a meida da variavel renda
dados['Renda'].mean()

2000.3831988547631

#### Agrupando por sexo e obtendo a media

In [32]:
dados.groupby(['Sexo'])['Renda'].mean()

Sexo
0    2192.441596
1    1566.847393
Name: Renda, dtype: float64

## Mediana


***
É o valor que separa a metade maior e a metade menor de uma amostra,
Ex. {1, 2, 2, 3, 20}, mediana = 2


Para obtermos a mediana de uma conjunto de dados devemos proceder da seguinte maneira:
1. Ordenar o conjunto de dados;
2. Identificar o número de itens do conjunto de dados ($n$);
3. Identicar o elemento mediano:

> Quando $n$ for ímpar:


#### $$Elemento_{Md} = \frac{n+1}2$$

> Quando $n$ for par:


#### $$Elemento_{Md} = \frac{n}2$$

4. Obter a mediana:

> Quando $n$ for ímpar:


#### $$Md = X_{Elemento_{Md}}$$

> Quando $n$ for par:


#### $$Md = \frac{X_{Elemento_{Md}} + X_{Elemento_{Md}+1}}2$$
***

#### Criando dataFrame para exemplo

In [6]:
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8]
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' on line 1 (1457680479.py, line 8)

### Calculando Mediana

In [22]:
notas = df['Fulano']
notas

Matemática     8
Português     10
Inglês         4
Geografia      8
História       6
Física        10
Química        8
Name: Fulano, dtype: int64

#### Resetando o index para vermos a posição dos elementos

In [23]:
notas = df['Fulano'].reset_index()
notas

        index  Fulano
0  Matemática       8
1   Português      10
2      Inglês       4
3   Geografia       8
4    História       6
5      Física      10
6     Química       8

#### Pegando o numero de itens

In [24]:
n = notas.shape[0]
n

7

#### Pegando o elemento MD

In [25]:
elemento_md = (n + 1)/ 2
elemento_md

4.0

#### Trazendo a mediana

In [27]:
# Para a quantidade de itens pares, refazer o calculo de acordo com a formula

notas.loc[elemento_md - 1]

index     Geografia
Fulano            8
Name: 3, dtype: object

### Há uma função para pegar a mediana diretamente:

In [28]:
notas.median()

C:\Users\leand\AppData\Local\Temp\ipykernel_7968\3708514593.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  notas.median()

Fulano    8.0
dtype: float64

#### Obtendo a mediana da Renda no DataSet

In [33]:
dados['Renda'].median()

1200.0

# Moda

In [45]:
exemplo1 = pd.Series([2, 2, 3, 4, 2, 5])
exemplo2 = pd.Series([2, 2, 4, 4, 7, 0])

In [47]:
exemplo1.mode()

0    2
dtype: int64

In [49]:
exemplo2.mode()

0    2
1    4
dtype: int64

#### Obtendo a moda em nosso DataSet

In [51]:
dados['Renda'].mode()

0    788
Name: Renda, dtype: int64