# Criando DataFrames

In [2]:
import pandas as pd

## Series

#### Atraves de uma lista

In [3]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Personalizando index

##### Obtendo uma lista com 5 linhas pra usar como indice

In [5]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [6]:
# S = pd.Series(data = data, index = index) ou somente:
s = pd.Series(data, index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

### Atraves de um dicionario

##### Dessa forma, o index ja sao as chaves

In [7]:
data = {'Linha' + str(i): i  + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [8]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

### Posso criar um dataSet a partir de outro

In [9]:
s1 = s + 3
s1

Linha0    4
Linha1    5
Linha2    6
Linha3    7
Linha4    8
dtype: int64

### Criando um dataSet a partir da soma de outros dois

In [10]:
s2 = s + s1
s2

Linha0     5
Linha1     7
Linha2     9
Linha3    11
Linha4    13
dtype: int64

In [11]:
data = [[1, 2, 3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
df1 = pd.DataFrame(data)
df1

# Para fazer atraves de tuplas, Ã© da mesma forma

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Personalizando Index

In [13]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [14]:
df1 = pd.DataFrame(data, index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

## Personalizando Colunas

In [15]:
colunas = ['Coluna' + str(i) for i in range(3)]
colunas

['Coluna0', 'Coluna1', 'Coluna2']

In [16]:
df1 = pd.DataFrame(data, index = index, columns = colunas)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Utilizando matriz de Dicionarios

In [18]:
data = {'Coluna0': {'Linha0':1, 'Linha1': 4, 'Linha2': 7},
       'Coluna1': {'Linha0':2, 'Linha1': 5, 'Linha2': 8},
       'Coluna2': {'Linha0':3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [26]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Concatenando DataFrames

#### Preparando para melhor visualizaÃ§Ã£o

In [21]:
# Se for maior que 0, defina igual a letra A
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [27]:
df2[df2 > 0] = 'B'

In [30]:
df3 = pd.concat([df1, df2])
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

### Para concatenar um ao lado do outro

In [32]:
df3 = pd.concat([df1, df2], axis=1)
df3

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B
Linha1       A       A       A       B       B       B
Linha2       A       A       A       B       B       B