In [2]:
import pandas as pd

In [10]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s.head()

0    0.50
1     NaN
2     NaN
3    0.52
4    0.54
dtype: float64

### ffill: Quando o valor for NaN, ele substitui o NaN pelo valor anterior

In [15]:
s.fillna(method = 'ffill', inplace = False)

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

### bfill: Quando o valor for NaN, ele substitui o NaN pelo proximo valor

In [19]:
s.fillna(method = 'bfill', inplace = False)

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

#### Limitando para n√£o alterar 2 valores NaN consecultivo

In [21]:
s.fillna(method = 'bfill', inplace = False, limit = 1)
#s.fillna(method = 'bfill', inplace = False, limit = 3) ....

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

### Quando o valor for NaN, ele substitui pela Media

In [22]:
s.fillna(s.mean(), inplace = False)

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64